<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yarikx.reactiveandroid.demo" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <application
        android:allowBackup="true"
        android:name="Scalapp"
        android:icon="@drawable/android:star_big_on"
        android:label="@string/app_name" >

        <uses-library android:name="scala-library-2.10.1"/>
        <activity
            android:name=".DemoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContentActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
